      html {overflow:auto;}
      body
      {
        margin:0;
        background-color: #000000;
        color: white;
        border-color: #000000;
        width:600px
      }

      div#test
      {
        border: 1px solid red;
        width: 600px;
        color:red;
      }
     p#npc
     {
      color:green;
     }
